html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='css/reset1.css', type='text/css', rel='stylesheet')
    link(href='css/style.css', type='text/css', rel='stylesheet')
    script(src="js/jquery-1.7.1.min.js")
    script.
      var jsons=new Array();
      function add(id) {
          var datajson={
              id:$(id).prev().prev().prev().prev().text(),
              name:$(id).prev().prev().prev().text(),
              price:$(id).prev().prev().text(),
              num:1
          }
          var sssss=0;
          jsons.push(datajson)
          var ass=parseInt($(".amount span").text());
          if(ass!=0){
              sssss = 1;
              $(".amount span").text(ass+sssss)
          }else{
              $(".amount span").text(jsons.length + sssss)
              sssss = 1;
          }
      }
      function dianji() {
          console.info(JSON.stringify(jsons))
          $.ajax({
               "url": "AddMyMeum",
               "data": {
                   jsonArray:JSON.stringify(jsons)
               },
               "dataType": "json",
               "type": "post",
              "success": function(data) {
                   var stoclnam=[];
                   var recipecontent=[];
                   if(data==0){
                       window.location.href = "MymenmShow";
                   }else{
                       $(data).each(function () {
                           stoclnam.push(this.stockName);
                           recipecontent.push(this.recipeContent);
                       })
                       var noStock=[];
                       for (var i = 0;i <= stoclnam.length;i++){
                           if(noStock.length==0){
                               noStock.push(stoclnam[i]);
                               continue;
                           }
                           for (var j = 0; j < noStock.length; j++) {
                               if (noStock[j] == stoclnam[i])    {
                                   break;
                               } else if (j == noStock.length - 1) {
                                   noStock.push(stoclnam[i]);
                               }
                           }
                       }
                       var recipe=[];
                       for (var i = 0; i <= recipecontent.length; i++) {
                           if (recipe.length == 0) {
                               recipe.push(recipecontent[i]);
                               continue;
                           }
                           for (var j = 0; j < recipecontent.length; j++) {
                               if (recipe[j] == recipecontent[i]) {
                                   break;
                               } else if (j == recipe.length - 1) {
                                   recipe.push(recipecontent[i]);
                               }
                           }
                       }
                       for (var i = 0; i <recipe.length ; i++) {
                           if(recipe[i]==null||recipe==""){
                               recipe[i]
                           }
                       }
                       alert("由于没有" +noStock+recipe + "这几道菜不能弄了")
                       window.location.href="OrdrTableShow";
                   }
              }

           })
      }

    title 快速点餐
  body
    header
      a.return(href='OrdrTableShow')
        img(src='img/return.png')
      p.switch
        a.selected(href="OrdermealShowTwo") 快速点餐
        a(href="ThemenuorderShow") 菜谱点餐
    a.amount(href="javaScript:void(0)" onclick="dianji()")
      | 已点
      if !zhuanhao
       span=dingdan.size()
      else
       span 0
    .content
      ul.menu
        each item in foodCuisine
          li
            img(src=""+item.picture+"")
            h4.CuisineId=item.cuisineid
            h4.cuisinename=item.cuisinename
            p.price=item.price
            p.discount
              span 推荐
            a.add(href='javaScirpt:void(0)' onclick="add(this)")
                img(src='img/add.png')
    .footer-space
    footer
      ul
        li
          a(href='OrdrTableShow')
            img(src='img/footer_1.png')
            p.cur 台 况