html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='css/reset1.css', type='text/css', rel='stylesheet')
    link(href='css/style.css', type='text/css', rel='stylesheet')
    script(src="js/jquery-1.7.1.min.js")
    script.
      var jsons=new Array();
      function add(id) {
          var datajson={
              name:$(id).prev().prev().prev().text(),
              price:$(id).prev().prev().text()
          }
          jsons.push(datajson)
          $(".amount span").text(jsons.length)
      }
      function dianji() {
          console.info(JSON.stringify(jsons))
            alert(JSON.stringify(jsons))
          $.ajax({
               "url": "AddMyMeum",
               "data": {
                   jsonArray:JSON.stringify(jsons)
               },
               "dataType": "json",
               "type": "post",
              "success": function(data) {
                  window.location.href="MymenmShow";
              }

           })
      }

    title 快速点餐
  body
    header
      a.return(href='#')
        img(src='img/return.png')
      p.switch
        a.selected(href='OrdermealShow') 快速点餐
        a(href='ThemenuorderShow') 菜谱点餐
    a.amount(href="javaScript:void(0)" onclick="dianji()")
      | 已点
      span 0
    .content
      ul.menu
        each item in foodCuisine
          li
            img(src='img/food_01.png')
            h4.cuisinename=item.cuisinename
            p.price=item.price+"元/份"
            p.discount
              span 推荐
            a.add(href='javaScirpt:void(0)' onclick="add(this)")
              img(src='img/add.png')
    .footer-space
    footer
      ul
        li
          a(href='OrdrTableShow')
            img(src='img/footer_1.png')
            p.cur 台 况
        li
          a(href='call out.html')
            p
        li
          a(href='bill.html')
            img(src='img/footer_02.png')
            p 账 单
