html(xmlns='http://www.w3.org/1999/xhtml')
  head
  body
    h1
    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='css/reset1.css', type='text/css', rel='stylesheet')
    link(href='css/style.css', type='text/css', rel='stylesheet')
    title 桌台详情
    header
      a.return(href='OrdrTableShow')
        img(src='img/return.png')
      h1 桌台详情
      p
    p.state ***
    .content
    .footer-space
    .bottom
      .bottom_1
        form
          input.note(type='text', value='备注')
        p.total
          | 合计：
          span.price ￥536.0
          |  共
          span.sum 8
          | 菜
      .bottom_2
        .sub_but
        ul#hid_ul.action_btn
          li
            input.orange_btn(type='button', value='返回选桌' onclick='retu()')
          li
            input.orange_btn(type='button', value='更新订单',name='up' onclick='upda(#{statu},#{indentId})')
          li
            input.orange_btn(type='button', value='确定下单',name='sure' onclick='addIndent(#{tableId})')
        ul.action_btn
          li
            input.orange_btn(type='button', value='添加菜品' onclick='addCuisine(#{statu})')
          li
            input.orange_btn(type='button', value='结账',name='j' onclick='jie(#{tableId})')
          li
            input.orange_btn(type='button', value='取消订单',name='j' onclick='chehui(#{tableId})')



      script(src='/js/jquery-1.7.1.min.js')
      script(src='/js/tablesdetails.js')
      script(type='text/javaScript').
        //说明还没有下单
        $(function(){
          alert(#{indentId})
          sta=#{statu}
          if(#{statu}==0){
            $("input[name=up]").removeClass("orange_btn").addClass("gray_btn").attr("disabled","disabled");
            $("input[name=j]").removeClass("orange_btn").addClass("gray_btn").attr("disabled","disabled");
            $(".state").html("订单确认");
            init2("getTableDetailsShow",#{indentId});
          }else if(#{statu}==2){
            $("input[name=sure]").removeClass("orange_btn").addClass("gray_btn").attr("disabled","disabled");
            //flagAdd=true;
            init2("getTableDetailsShow",#{indentId});
            $(".state").html("订单添加");
          }else{
            $("input[name=sure]").removeClass("orange_btn").addClass("gray_btn").attr("disabled","disabled");
            $(".state").html("已下单");
            init("IndentDetails/getDetail",#{tableId});
          }
        });


