doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        title 订单记录
        link(rel='stylesheet', type='text/css', href='/css/index.css')
        script(type='text/javascript', src='/js/jquery-1.7.1.min.js')
        script(src='/js/Indent.js')
    body.mian_bj
        .mian_top_01
            .mian_top_r
            .mian_top_l
            .mian_top_c
                ul
                    li
                        a(href='Indent/getAll')
                            p
                                | 订单记录
            .mian_b
                table.mian_b_bg(width='100%', border='0', cellpadding='0', cellspacing='0' )
                    input(type='text',id="indentId")
                    button( onclick='getInfo()')搜索
                    button( onclick='getdel()')批量删除
                    tbody.tb
                        tr
                            td
                            td
                                span
                                | 订单号
                            td
                                span
                                | 桌号
                            td
                                span
                                | 创建时间
                            td
                                span
                                | 订单备注
                            td
                                span
                                | 订单总金额
                            td
                                span
                                | 实付总金额
                            td
                                span
                                | 服务员
                            td
                                span
                                | 操作
                            // each item in indent
                            //
                            //     tr
                            //         td
                            //             input(name='indent',type='checkbox',value=item.indentid)
                            //         td=item.indentcode
                            //         td=item.orderfoodTable.tablenumber
                            //         td=item.createdate
                            //         td=item.indentcomment
                            //         td=item.totalmoney
                            //         td=item.netmoney
                            //         td=item.orderfoodEmployee.employeename
                            //         td.mian_b_icon_01(width='8%')
                            //             a(href='javascript:void(0)' onclick='del('+item.indentid+')') 删除
                            //         td.mian_b_icon_02(width='8%')
                            //             a(href='javascript:void(0)' onclick='ds('+item.indentid+')') 查看详情
                div.ddd(style='width:400px;float:right;margin-top:15px')
                    div(style='float:left;margin-right:15px')
                        a(href='javascript:;' name='previous' )上一页
                    div(style='float:left;')
                        a(href='javascript:;' name='next')下一页



