doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 员工信息
    link(rel='stylesheet', type='text/css', href='css/index.css')
    script(src='js/jquery-1.7.1.min.js')
    script(language='javascript', type='text/javascript').
      function click1(num){
      if(document.getElementById(num).style.display=="block")
      {
      document.getElementById(num).style.display="none";
      }
      else
      {
      document.getElementById(num).style.display="block";
      }
      }
      $(function () {
          $("#wei").click(function () {
              $("#huang tbody").html("");
          });
      })
      function sel() {
          var employeename = $("#Gao").val().trim()
          var str="";
          if(employeename.length==0){
              window.location.href = 'employeeAll';
          }else{
              $.ajax({
                  "url": "EmploySel/" + employeename,
                  "dataType": "json",
                  "type": "post",
                  "success": function (result) {
                      $(result).each(function () {
                          str+="<tr>"+
                              "              <td>" +
                              "                <input name='', type='checkbox', value=''/>" +
                              "              <td>" + this.employeeid +
                              "</td>" +
                              "              <td>"+this.employeename+"</td>" +
                              "              <td>" +this.sexs + "</td>"+
                              "              <td> "+this.orderfoodEmployeeRole.rolename+"</td>" +
                              "              <td>" + this.phone + "</td>" +
                              "              <td>" + this.createdate + "</td>" +
                              "              <td class='mian_b_icon_01' style='width=5%'>" +
                              "               <a href=employeeUpdpage/#{"+this.employeeid+"}'> 编辑</a>"+
                              "</td>" +
                              "            </tr>";
                      });
                      alert(str);
                      $("#xun").append(str);
                  }
              })
          }
      }
      function getdel() {
          var checkbox_value = [];
          var obj = document.getElementsByName("test")
          for (var k in obj) {
              if (obj[k].checked)
                  checkbox_value.push(obj[k].value)
          }
          alert(checkbox_value);
          $.ajax({
              "url": "/delesc",
              "dataType": "json",
              "type": "post",
              "data": {
                  'arrays[]': checkbox_value
              },
              "success": function (result) {
                  if (result > 0) {
                      alert("删除成功")
                      window.location.href = 'employeeAll';
                  } else {
                      alert("删除失败");
                  }
              }
          });
      }
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='employeeAll')
              p
                | 员工管理
      .mian_b
        .mian_b1
          a(href='employeeAddpage', title='添加')
            p.mian_b1_a1
          a(href='javaScript:void(0)', title='删除', onclick='getdel()')
            p.mian_b1_a2
          p.mian_b1_sousuo
            input#Gao(type='text',placeholder="请输入姓名")
          a#wei(href='javascript:void(0)', title='搜索',onclick="sel()")
            p.mian_b1_a3
        table.mian_b_bg#huang(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody#xun
            tr
              td.mian_b_bg_lm(width='3%')
                input(name='', type='checkbox', value='')
              td.mian_b_bg_lm(width='10%')
                span
                | <工号></工号>
              td.mian_b_bg_lm(width='10%')
                span
                | 员工姓名
              td.mian_b_bg_lm(width='5%')
                span
                | 性别
              td.mian_b_bg_lm(width='10%')
                span
                | 员工职位
              td.mian_b_bg_lm(width='10%')
                span
                | 手机
              td.mian_b_bg_lm(width='10%')
                span
                | 入职时间
              td.mian_b_bg_lm(colspan='2')
                span
                | <操作></操作>
            each item in employees
                  tr
                    td
                      input(name='test', type='checkbox', value='#{item.employeeid}')
                    td=item.employeeid
                    td=item.employeename
                    td=item.sexs
                    td=item.orderfoodEmployeeRole.rolename
                    td=item.phone
                    td=item.createdate
                    td.mian_b_icon_01(width='5%')
                      a(href='employeeUpdpage/#{item.employeeid}') 编辑
            tr
              td.mian_b_bg_lm(width='3%')
              td.mian_b_bg_lm(width='10%')
                span
                | 工号
              td.mian_b_bg_lm(width='5%')
                span
                | 员工名称
              td.mian_b_bg_lm(width='10%')
                span
                | 性别
              td.mian_b_bg_lm(width='10%')
                span
                | 员工职位
              td.mian_b_bg_lm(width='10%')
                span
                | 手机
              td.mian_b_bg_lm(width='10%')
                span
                | 入职时间
              td.mian_b_bg_lm(colspan='2')
                span
                | 操作
