doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 无标题页
    link(rel='stylesheet', type='text/css', href='../css/index.css')
    script(src='/js/jquery-1.7.1.min.js')script(src='/js/OrderManager.js')

  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='toCargo')
              p
                | 出库管理
          li
            a(href='toAddOrder')
              p
                | 入库管理
      .mian_b
        .mian_b1
          a(href='toAddOrder', title='添加')
            p.mian_b1_a1
          a(href='javascript:;', value='删除',onclick='manydel()')
            p.mian_b1_a2
          p.mian_b1_sousuo
            input(name='stockname', type='text')
          a(href='javascript:;', title='搜索')
            p.mian_b1_a3
          a(href='#', title='最后')
            p.mian_b1_a4
          a(href='javascript:;', title='下一页')
            p.mian_b1_a5
          p.mian_b1_list
          a(href='javascript:;', title='上一页')
            p.mian_b1_a6
          a(href='#', title='最前')
            p.mian_b1_a7
        table.mian_b_bg(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody#pageInfo
            tr
              td.mian_b_bg_lm(width='3%')
                input(name='', type='checkbox', value='')
              td.mian_b_bg_lm(width='10%')
                span
                | 库存编号
              td.mian_b_bg_lm(width='10%')
                span
                | 原料名称
              td.mian_b_bg_lm(width='10%')
                span
                | 单位价格
              td.mian_b_bg_lm(width='10%')
                span
                | 单位数量
              td.mian_b_bg_lm(width='10%')
                | 单位
              td.mian_b_bg_lm(width='10%')
                | 销售人员
              td.mian_b_bg_lm(colspan='2')
                span
                | 操作
           // each item in cargo
           //  tr
           //    td(width='3%')
           //      input(name='cargoid', type='checkbox', value=item.cargoid)
           //    td=item.cargoid
           //    td=item.stock.stockname
           //    td=item.cargoprice
           //    td=item.cargoweight
           //    td=item.stock.stockunit
           //    td.mian_b_icon_01(width='5%')
           //      a(href='javascript:;',onclick='toEditor('+item.cargoid+')') 编辑
           //    td.mian_b_icon_02(width='5%')
           //      a(href='toOrderClass') 查看

